.task
.idea
.vscode/*
!.vscode/settings.json

target
logs
coverage
deployments/docker/data
api/open-api/*
!api/open-api/api.md

mod/**/handler_gen.go
mod/*/constant/*/*_gen.go
mod/*/internal/repository/query

*.log
*.db

**/*.pem
